ion-card{
    --background: linear-gradient(315deg, #f1d5d1 0%, #f6ebea 74%);
}

ion-item{
    --background: rgba(0,0,0,0);
}

ion-spinner{
    color: #747474;
}

ion-fab-button{
    --background: #b0b3f3;
}

.main_text { 
    color: #747474;
}