<ion-content>
  <br><br>
  <ion-col>
    <div class="ion-text-center main_text">
      BetterHabits
    </div>
  </ion-col>
  <br><br><br><br>
  <ion-card>
    <ion-card-content>
      <h2 class="ion-text-center">
        Reset your password through email
      </h2>
      <br>
      <ion-item color="light">
        <fa-icon icon="envelope" class = "text-grey"></fa-icon>&nbsp;
        <ion-input placeholder="Email" [(ngModel)] = "email"></ion-input>
      </ion-item>
      <p class = "text-red">{{error_log}}</p>
      <p>{{notification}}</p>
      <br>
      <ion-button (click)="initReset()" expand = "block"><fa-icon icon="paper-plane"></fa-icon>&nbsp;Request reset</ion-button>
      <ion-button (click)="initReturn()" expand = "block"  color = "secondary"><fa-icon icon="undo"></fa-icon>&nbsp;Return to login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

