/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('assets/fonts/Pacifico-Regular.ttf');
}

ion-content{
    --ion-background-color:linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}
ion-card{
    --background: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}

.card_icon{
    font-size: large;
}

.black_text{
    color: black;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}